.pencil {
  opacity: 0;
  color: blue;
  cursor: pointer;
  display: inline-block;
  transform: scaleX(-1);
}

td:hover .pencil {
  opacity: 1;
}

#root {
  min-width: 40rem;
  display: flex;
  flex-direction: column;
  max-width: 1280px;
  margin: 0 auto;
  gap: 2rem;
}

/* Row for Form and View */
.row {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 2rem;
}

/* Form and View containers */
.form,
.view {
  flex: 1;
  padding: 1rem;
}

/* Input styling */
input {
  display: block;
  width: 100%;
  height: 2rem;
  margin: 0.5rem 0;
  padding: 0.25rem;
  box-sizing: border-box;
  text-align: left;
}

.error {
  color: red;
  font-size: small;
  margin: 0;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}